.ListItem {
  margin-top: 10px;
  width: 50vw;
  height: 40px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: black;

  &-Text {
    display: inline-block;
    &_checked {
      text-decoration: line-through;
      color: lightgray;
    }
  }

  &-Checkbox {
    margin: 0 10px;
  }

  &-Button {
    position: absolute;
    right: 10px;
  }
}